# Virtual environments
venv/
.venv/

# Data files (too large for GitHub)
*.csv
*.ckpt

# Python cache
__pycache__/
*.pyc
*.pyo

# Mac system files
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/

# Git embedded repos
dissertation/models/itransformer/iTransformer/
